<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="index" value=".\index.xml"/>
   <!-- <add key="cmdfile" value="commands.xml"/> -->
    <add key="VS_VER" value="15.0"/>
    <add key="VS_WIN_CTX" value="devenv"/>
    <add key="CMD_TYPE_OPEN_PROCESS" value="1"/>
    <add key="CMD_TYPE_SHORTCUT" value="0"/>
    <add key="CMD_TYPE_AUTO_HANDLE_WIN" value="2"/>
    <add key="SendKeys" value="SendInput"/>
  </appSettings>
</configuration>